@page "/admin/classes"
@model FunFox.Pages.Admin.Course.ViewClassesModel


<div>
    <p>classes here</p>
    <p>classes here</p>
    <p>classes here</p>
    <p>classes here</p>
    <p>classes here</p>
    <p>classes here</p>
    <p>classes here</p>
</div>
