@page "/admin/classes"

@model FunFox.Pages.Admin.Course.ViewClassesModel


<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Class Size</th>
                <th scope="col">Student Count</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PageableResponse != null && Model.PageableResponse.Records.Any())
            {
                 @foreach(var record in Model.PageableResponse.Records)
                 {
                     <tr>
                         <th scope="row">@record.Id</th>
                         <td>@record.Title</td>
                         <td>@record.ClassSize</td>
                         <td>@record.StudentCount</td>
                     </tr>
                 }
            }
            else
            {
                <tr>
                    <td colspan="4" style="text-align: center">No Record Found</td>
                </tr>
            }
        </tbody>
    </table>
</div>
