*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.main-small-heading {
    position: relative;
    font-family: "JOST_BOLD", sans-serif !important;
    font-size: 22px;
    color: #ee4462;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    display: inline-block;
}

.main-heading {
    font-family: /*"Jost", sans-serif !important*/ "JOST_BOLD", sans-serif;
    font-size: 55px;
    color: #f38e3d;
    font-weight: 900;
    line-height: 70px;
}